---
layout: page
title: Site map
root: .
---

{% assign sorted_pages = (site.pages | sort: 'title') %}
{% for p in sorted_pages %}
  {% if p.title and p.title != page.title %}
  {% assign purl = site.baseurl | append:p.url %}
  <p>
    <a href="{{ purl }}">{{ p.title }}</a>
    {% assign h2chunks = p.content | split:'<h2 id="' %}
    {% if h2chunks.size > 1 %}
      <ul>
      {% for h2chunk in h2chunks offset:1 %}
        {% assign h2 = h2chunk | split:'</h2>' %}
        {% assign id_text = h2[0] | split:'">' %}
        <li>
         <a href="{{ purl }}#{{ id_text[0] }}">{{ id_text[1] }}</a>
        </li>
        {% assign h3chunks = h2[1] | split:'<h3 id="' %}
        {% if h3chunks.size > 1 %}
        <ul>
        {% for h3chunk in h3chunks offset:1 %}
          {% assign h3 = h3chunk | split:'</h3>' %}
          {% assign id_text = h3[0] | split:'">' %}
          <li>
           <a href="{{ purl }}#{{ id_text[0] }}">{{ id_text[1] }}</a>
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  </p>
  {% endif %}
{% endfor %}
















{% for apage in sorted_pages %}
  {% comment %} 
    Only index pages with titles and don't index this page.
  {% endcomment %}
  {% if apage.title and apage.title != page.title %}
<p>
<a href="{{ site.baseurl }}{{ apage.url }}">{{ apage.title }}</a>
    {% assign headings = apage.content | split:'<h2 id="' %}
    {% if headings.size > 1 %}
<ul>
      {% comment %} 
        offset:1 ignores any preamble to first heading 
      {% endcomment %}
      {% for heading in headings offset:1 %}
        {% assign target_gt_name = heading | split:'</h2>' | first %}
        {% assign target_gt_name_list = target_gt_name | split:'">' %}
        {% assign target = target_gt_name_list[0] %}
        {% assign name = target_gt_name_list[1] %}
<li>
<a href="{{ site.baseurl }}{{ apage.url }}#{{target}}">{{name}}</a>
</li>
      {% endfor %}
</ul>
    {% endif %}
</p>
  {% endif %}
{% endfor %}
